@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   min-height: 100vh;
   grid-template-rows: 50px minmax(calc(100vh - 90px), auto) 30px;
}

header,
footer {
   grid-column: 1/6;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   @apply bg-stone-400
}

header {
   @apply text-3xl font-bold
}

a {
   @apply text-blue-900
}

main {
   grid-column: 2/6;
}

aside {
   grid-column: 1/2;
   @apply bg-stone-900 text-stone-50 rounded-r-xl p-4 text-center
}

aside h2 {
   @apply mb-8 font-bold uppercase text-stone-200
}

.input {
   @apply flex flex-col w-full m-2 uppercase
}

.input input {
   @apply bg-stone-300 outline-none rounded-sm h-10 px-2 border-b-2 border-stone-300  focus:border-stone-400
}

.textArea {
   @apply flex flex-col w-full m-2 uppercase
}

textarea {
   @apply bg-stone-300 resize-none outline-none rounded-sm px-2 border-b-2 border-stone-300 focus:border-stone-400
}

.button {
   @apply px-4 py-2 text-xs rounded-md bg-stone-700 text-stone-400 hover:bg-stone-600 hover:text-stone-100
}

.newProject {
   @apply flex flex-col justify-center items-center w-1/3
}

menu {
   @apply flex flex-row justify-end items-end w-full
}

menu button {
   @apply ml-2 px-8 py-2
}

.cancel {
   @apply bg-red-400 font-bold rounded-sm hover:bg-red-500 text-white
}

.save {
   @apply bg-green-400 font-bold rounded-sm hover:bg-green-500 hover:text-white
}

.noProjects {
   @apply mt-24 text-center w-2/3
}

.noProjects h2 {
   @apply text-xl font-bold text-stone-500 my-4
}

.noProjects img {
   @apply w-16 h-16 object-contain mx-auto
}

.noProjects p {
   @apply text-stone-400 mb-4
}

.noProjects button {
   @apply px-4 py-2 text-xs rounded-md bg-stone-700 text-stone-400 hover:bg-stone-600 hover:text-stone-100
}
